<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="google" value="notranslate">
    <link rel="shortcut icon" href="static/favicon.ico">
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous"> -->
    <title><%= htmlWebpackPlugin.options.title %></title>
    <% if (htmlWebpackPlugin.options.sentryConfig) { %>
        <!-- Sentry error logging to help with finding bugs -->
        <script src="https://cdn.ravenjs.com/3.22.1/raven.min.js" crossorigin="anonymous"></script>
        <script>
            Raven.config(<%= htmlWebpackPlugin.options.sentryConfig %>).install();
        </script>
        <!-- /Sentry -->
    <% } %>
    <style>
      body {
        margin: 0px;
      }

      .scale {
        transform: scale(0.8);
        -moz-transform:scale(0.8);
        -webkit-transform:scale(0.8);
        -o-transform:scale(0.8);
        transform-origin:0% 0%;
        -moz-transform-origin:0% 0%;
        -webkit-transform-origin:0% 0%;
        -o-transform-origin:0% 0%;
      }

      .scale06 {
        transform: scale(0.6);
        -moz-transform:scale(0.6);
        -webkit-transform:scale(0.6);
        -o-transform:scale(0.6);
        transform-origin:0% 0%;
        -moz-transform-origin:0% 0%;
        -webkit-transform-origin:0% 0%;
        -o-transform-origin:0% 0%;
      }

      #scratch-player {
        position: relative;
      }

      #scratch-player, #scratch-player > div {
        width: 720px;
      }

      #header{
        width: 100%;
        background-color: hsla(215, 100%, 65%, 1);
        color: white;
        padding-top: 5px;
        padding-bottom: 5px;
        text-align: center;
      }

      #header .company-name {
        font-size: 22px;
        line-height: 50px;
        vertical-align: middle;
      }

      #header img {
        vertical-align: middle;
      }

      /* .prompt {
        text-align: center;
        font-size: 12px;
        margin-top: 5px;
        color: gray;
      } */

      .main {
        max-width: 1170px;
        margin-left: auto;
        margin-right: auto;
        padding-bottom: 80px;
        /* position: relative; */
      }

      .main .title {
        margin-bottom: 10px;
      }

      .main .left {
        float: left;
        width: 70%;
      }

      .main .right {
        width: 30%;
        float: right;
      }

      .main .author img, .main .author span {
        vertical-align: middle;
      }

      .main .author {
        color: #666;
      }

      .main .right >div {
        margin-bottom: 50px;
      }

      .clearb {
        clear: both;
      }

      .h80 {
        height: 80px;
      }

      #qr-code {
        height: 100px;
        width: 100px;
      }

      .title, .detail {
        /* display: none; */
        visibility: hidden;
      }

      .show {
        /* display: block !important; */
        visibility: visible;
      }

      .ad-button-wrapper.mobile {
        display: none;
      }

      .ad-button-wrapper button {
          width: 150px;
          background-color: hsla(215, 100%, 65%, 1);
          color: white;
          border: none;
          border-radius: 15px;
          display: block;
          height: 30px;
      }

      .ad-button-wrapper a {
        text-decoration: none;
      }

      @media (max-width: 768px) {
        .main .left,.main .right{
          float: none;
          width: auto;
        }

        .main .right {
          margin-top: -60px;
        }

        #scratch-player, #scratch-player > div {
          width: 480px;
        }

        .main .title, .project-show .detail {
          padding-left: 20px;
          padding-right: 20px;
        }

        .updatedAt {
          display: none;
        }

        .ad-button-wrapper.mobile {
          display: block;
        }

        .ad-button-wrapper .pc {
          display: none;
        }

        /* .ad-button-wrapper a {
          display: block;
          width:100%;
        } */

        .ad-button-wrapper button {
          position: fixed;
          bottom: 50px;
          left: 50%;
          margin-left: -75px;
        }

        
      }

    </style>
  </head>
  <body>
    <div id='header'>
      <img src='http://www.mengchengedu.com/images/logo.png' width='50'/>
      <span class='company-name'>萌程少儿编程</span>
    </div>
    <!-- <div class='prompt'>
      <span>手机横屏体验更佳</span>
    </div> -->
    <div class='pc main'>
      <div class='title'>
        <h2 id='title'>加载中...</h2>
        <div class='author'>
          <img id='avatar' alt="" width='30'>
          <span id='author'></span>
          &nbsp;&nbsp;
          <span class='createdAt'>发布于：</span><span class='createdAt' id='createdAt'></span>
          &nbsp;&nbsp;
          <span class='updatedAt'>更新于：</span><span class='updatedAt' id='updatedAt'></span>
        </div>
      </div>
      <div class='project-show'>
        <div class='left'>
          <div id='scratch-player'></div>
        </div>
        <div class='right detail'>
          <div>
            <h4>作品简介</h4>
            <p id='project-intro'></p>
          </div>
          <div>
            <h4>操作说明</h4>
            <p id='project-howto'></p>
          </div>
          <div>
            <h4>作品二维码</h4>
            <div id='qr-code'>
            </div>
          </div>
          <div class='ad-button-wrapper pc'>
            <a href="http://mengchengedu.com">
              <button class='ad-button'>
              了解萌程教育
              </button>
            </a>
          </div>
        </div>
        <div class='clearb'></div>
      </div>
      <div class='ad-button-wrapper mobile'>
        <a href="http://mengchengedu.com">
          <button class='ad-button'>
          了解萌程教育
          </button>
        </a>
      </div>
    </div>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js'></script>
    <script src='http://mcstatic.oss-cn-hangzhou.aliyuncs.com/jquery.qrcode.min.js'></script>
    <script>
      var IS_PC = false;
      if(window.screen.width > 768) {
        IS_PC = true;
      }
      
      $(function () {
        console.log('inited');
        var id = window.location.hash.replace('#', '');
        var $author = $('#author');
        var $avatar = $('#avatar');

        // init qr-code
        $('#qr-code').qrcode({
          width: 100,
          height: 100,
          text: "http://scratch.mengchengedu.com:3400/player.html#" + id
        });
        
        // set scale for mobile device
        if(!IS_PC) {
          var $player = $('#scratch-player');
          $player.addClass('scale');
          var margin = (window.screen.width - 482 * 0.8) / 2;
          $player.addClass('scale').css('margin-left', margin);
        }

        loadProjectInfo();
        
        function loadProjectInfo() {
          // set project data
          var URL = 'http://scratchp.mengchengedu.com:3400/projects/'
          var $title = $('#title');
          var $intro = $('#project-intro');
          var $howto = $('#project-howto');
          var $createdAt = $('#createdAt');
          var $updatedAt = $('#updatedAt');
          if (id.length > 0) {
            $.getJSON(URL + id, function(data) {
              // console.log('ProjectInfo', data);
              $title.text(data.title);
              $intro.text(data.intro);
              $howto.text(data.howToPlay);
              $createdAt.text(new Date(data.createdAt).toLocaleString());
              $updatedAt.text(new Date(data.updatedAt).toLocaleString());
              $('.title,.detail').addClass('show');
              if(data.creatorID > 0) {
                loadUserInfo(data.creatorID);
              } else {
                setDefaultUserInfo();
              }
            });
          }
        }

        function setDefaultUserInfo() {
          $author.text('');
          $avatar.attr('src', 'http://mcstatic.oss-cn-hangzhou.aliyuncs.com/avatar.gif');
        }

        function loadUserInfo(userID) {
          var URL = 'http://mengchengedu.com:9002/actionapi/MenHu/GetUserInfoByID?id='+userID;
          $.getJSON(URL, function(data, status, xhr) {
            // console.log('userInfo', data);
            $author.text(data.name);
            $avatar.attr('src', data.avatar);
          }).fail(setDefaultUserInfo);
        }

      });
    </script>
  </body>
</html>
